# Lab Exercise 01
---

## Data types

- Integer
- String
- Float
- NoneType

In [ ]:
# This is an integer
x = 4
print(x)
print(type(x))

In [ ]:
# This is a float
x = 4.0
print(x)
print(type(x))

In [ ]:
# This is a string
x = "4"
print(x)
print(type(x))

In [ ]:
# This is a NoneType
x = None
print(x)
print(type(x))

## Type casting
Reset an assigned variable as a new data type

- `int()`
- `float()`
- `str()`

Use `type()` to determine variable data type.

In [ ]:
# Set x as int
x = 4
print(type(x))

# Cast x as a float
x = float(x)
print(type(x))

### Practice
Cast x as an int

In [ ]:
# x is a str
x = "4"
# Cast x as an int
x =

## Strings and string manipulation

Strings are like arrays in python. You can select any character in the string by selecting its index.

Python is a zero index language, i.e., the first position in an array is 0.

In [ ]:
# Set x as a string
x = "Hello World"
print(x)

In [ ]:
# Print the H in Hello World
print(x[0:5])

Determine the length of a string (or any array) using `len()`

In [ ]:
# Print the length of x, i.e., Hello World
print(len(x))

Concatenate strings using `+` operator

In [ ]:
x = "Hello"
y = "World"
print(x + " " + y)

Use the `format()` method to incorporate non string variables into a string.

In [ ]:
x = "Hello World"
y = 1000
print("{0} World {0}".format(x[-2],y))

### Practice

What is wrong with the cell below? Fix it.

In [ ]:
x = "The Ultimate Answer to Life, The Universe and Everything is..."
y = 42
print(x + y)

## Data structures

Enables storage of multiple values in a single variable

- Lists
- Dictionaries
- Tuples
- Sets

## Lists

Create a list using square brackets `[ ]`

Can contain heteroegenous data types, i.e. `[1, 'a', 4.0]`

Ordered, changeable, and allows duplicates

In [ ]:
l = [1,2,3,3]
print(l)

Get length of list using `len()`

In [ ]:
print(len(l))

Lists are ordered...

Select list items by using the square brackets on the list variable (same as we did for strings).

In [ ]:
print(l[0])
print(l[2])

Select multiple items from a list using square brackets with a colon to define the range. The last index defined is NOT included.

In [ ]:
# Print the first two indicies of the list, i.e., index 0 and  index 1.
# Index 2 is not included
print(l[0:2])

Lists are changeable...

Reassign items in a list by chossing the index and resetting it.

In [ ]:
# Original list
print(l)
# Rassign the Index 3 (fourth item) to 4
l[3] = 4
print(l)

Reorder lists using the `sort()` method.

In [ ]:
l = [3,1,2,4]
print(l)
l.sort()
print(l)

`sort()` is by default ascending. You can change this to descending by using the argument `reverse=True`.

In [ ]:
l.sort(reverse=True)
print(l)

Add item to list two ways:

1. `append()` to the end of the list 
2. `insert()` at a specific index in the list

In [ ]:
l = [1,2,3]
print(l)
# append() takes an value/variable as an argument
l.append(4)
print(l)

In [ ]:
l = [1,2,4]
print(l)
# insert() takes an index and a value/variable as arguments
l.insert(2, 3)
print(l)

Remove items from a list using three methods:

1. `remove()` to delete an item based on the value
2. `pop()` to delete an item based on index
3. `del` to delete an item by index or the whole list

In [ ]:
l = [1,2,3,4]
print(l)
# remove() takes a value/variable as an argument
y = l.remove(4)
print(l)
print(y)

In [ ]:
l = [1,2,3,4]
print(l)
# pop() takes an index as an argument
y = l.pop(3)
print(l)
print(y)

In [ ]:
l = [1,2,3,4]
print(l)
# del can be used on a list item or the whole list
del l[3]
print(l)

## Dictionaries

Create a dictionary using curly brackets and define keys and values - `{"key": value}`

Ordered, changeable, and does not allow duplicates

In [ ]:
d = {'name': 'Michael', 'color': 'blue', 'number': 3}
print(d)

Access items in dictionary by using the key as an index.

In [ ]:
print(d['color'])

All view all keys in a dict using `keys()` method or all values using the `values()` method.

In [ ]:
print(d.keys())

In [ ]:
print(d.values())

Change the value of an item using the key index.

In [ ]:
d = {'name': 'Michael', 'color': 'blue', 'number': 3}
print(d)
d['name']='Bob'
print(d)

Add a new item (key and value) to a dict by using the key index.

In [ ]:
d = {'name': 'Michael', 'color': 'blue', 'number': 3}
print(d)
d['role']='student'
print(d)

Remove items using `pop()` or `del`.

In [ ]:
d = {'name': 'Michael', 'color': 'blue', 'number': 3}
print(d)
d.pop('number')
print(d)

In [ ]:
d = {'name': 'Michael', 'color': 'blue', 'number': 3}
print(d)
del d['number']
print(d)

## Tuples

Create a tuple using round brackets `(value1, value2)`

Ordered, unchangeable, and allows duplicates

In [ ]:
t = (1,2,3)
print(t)

Access items in tuple using index.

In [ ]:
print(t[0])
print(t[0:2])

In order to change a tuple one must change a tuple to a list, modify it, then recast it as a tuple.

In [ ]:
t = (1,2,3)
print(t)
# We can't append to a tuple -- unchangeable
t.append(4)

In [ ]:
t = (1,2,3)
print(t)
t = list(t)
t.append(4)
t = tuple(t)
print(t)

## Sets

Create a set using curly brackets `{value1, value2}`

Unordered, unchangeable, and does not allow duplicates

In [ ]:
s = {'a','b','c'}
print(s)

In [ ]:
# No duplicate items
s = {'a','b','c','c'}
print(s)

Sets are not indexed, so we can't access items in the set.

Sets are unchangeable, but we can add or remove items using `add()` or `remove()`.

In [ ]:
s = {'a','b','c'}
print(s)
s.add('d')
print(s)

In [ ]:
s = {'a','b','c'}
print(s)
s.remove('a')
print(s)

---

# Graded Portion
---

## Problem 01 (3 points)
Cast the following variables to make them into the desired data type. Print each variable as the correct data type.

1. x needs to be float
2. y needs to be string
3. z needs to be int

Each correct variable worth 1 point.

In [ ]:
# I have defined the variables for you.
# RUN THIS CELL FIRST.
# DO NOT CHANGE THIS CELL.
x = 5
y = 42
z = "1"

In [ ]:
# Write your code here to answer the question


#

In [ ]:
# Print true or false for each correct answer
print(type(x) is float)
print(type(y) is str)
print(type(z) is int)

## Problem 02 (3 points)
Make variables p1, p2, and p3 equal to the desired value. Assign variables p1, p2, and p3 using only variables i, j, and k. Print the resulting variables.

1. p1 == 2187
2. p2 == 39
3. p3 == 0

Each correct variable worth 1 point.

*Hint: None of the answers require more than three variables and a variable is never used more than once in the same answer.*

In [ ]:
# I have defined the variables for you.
# RUN THIS CELL FIRST.
# DO NOT CHANGE THIS CELL.
i = 3
j = 7
k = 10

In [ ]:
# Write your code here to answer the question
p1 = 
p2 = 
p3 = 
#

In [ ]:
# Print true or false for each correct answer
print(p1==2187)
print(p2==39)
print(p3==0)

## Problem 03 (4 points)
Create a list and assign it to variable `x_list`. The list must be in ascending order (0 to 3) using the following variables:

- a = 1
- b = 3
- c = 0
- d = 2

The answer is either correct or not.

In [ ]:
# I have defined the variables for you.
# RUN THIS CELL FIRST.
# DO NOT CHANGE THIS CELL.
a = 1
b = 3
c = 0
d = 2

In [ ]:
# Write your code here to answer the question
x_list = 

#

In [ ]:
# Print true or false for correct answer
print(x_list == [0,1,2,3])